-----BEGIN PGP MESSAGE-----

hQIMA55trxtGQMuoAQ//ZTwDVpt6Yi56ozt87MI4b5MK/Qh4Vd8TLtkl/HONnMTV
IB65dnkSMnRD4jFZ7nFgBy+cbyIrc3JUlk7kVH2WuIYTCVK96MTHTlv5ujZNyw1z
RoEapNx9WwvmZYifwrMxXStjyuzkLnwDso6vAiSDkB+hZNYD7LS2hgaOqVRueX2z
4mSOCDjaoeir7+ApDK6UWEzQSM4QKz2WRSZ/2NR5uNIAqe7Lb966Bfbb8vglpb8Y
2WazhJFSWKhWIkSx9pTuFXKUK73UuLTmkP74C3o3iBnQfjdhYgEhGWK562q6dFF5
VTv/aXQqJ6FD1FiOkQ+be5FYp0LMmeP9kqtlQlY/ikM50cPpkvw7urQb7R/IWsYo
K0PiuwFUnMZ8PQRSPXaKHk72wM1Jv9bT+h0jP3WU9CTdOWaTS7Oq0pck74mLft1t
uPDErD7joQOruEgS/Wgjv2q6BbwxQC/PDrFSd1AlNEIr07NjP+IeV801c74RjWF4
4TxFOMdzh71d5iFZWw8WJmkzl3qrHcfgGHaJr20W1En1TSmINUvVavxb2TfMKdO8
R8zZCoIJN83t4PYVONSALmpmzR1CwI14s5f0lhJnQcJn1zsvMmDwofmmkiy/gn++
F53Z+KLEFqjruJSm9CMKM/mfkuRv7T4K2ZRJr9h0zTwuQmQvxRLwrw2kOWup1gjS
wBEBTbuCfCwhnDwpzb0vcDjaOo3gbdwTZV+hcr7a0SjBIP8K5GlE/upubzYnXeU7
PuUtaPWJsk4ta0spMAeJyHInGv+r9y+e8SC0NGJGM8YRqQkliComyR+gpw30GrD3
VkLFQDx4uZu2H+4MggrOBfXITz2HxIfz0X1WPW/AIFaTeKlFFAcm05zU4gkexK1m
g3AjXzQSNEe9AKH2QQIGCigWYRwVhOeuaRVaC+ySPG+etCOvmXelCHKNyBQZ83gj
ZCBEv0dy0yPZAZPiwffcpimYrw==
=4B6a
-----END PGP MESSAGE-----
